.about-founder {
  margin-top: 100px;
  margin-bottom: 50px;
}

.founder-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-founder-left {
  position: relative;
  margin-right: 100px;

  a {
    position: absolute;
    right: -20px;
    bottom: 200px;
  }
}

.about-founder-img {
  width: 100%;
}

.about-founder-right a {
  display: none;
}

.about-founder-title {
  font-family: 'DM Serif Display';
  font-weight: 400;
  font-size: 90px;
  line-height: 100px;
  text-transform: uppercase;
  color: #fef223;
}

.about-founder-info {
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 35px;
  line-height: 35px;
  text-transform: uppercase;
  color: #ffffff;
}

.about-me {
  margin-top: 200px;
}

.line-border {
  height: 2px;
  width: 100%;
  background-color: #3f4247;
  position: relative;
}

.first-line {
  top: 160px;
}

.about-me-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-title {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 206px;
  text-transform: uppercase;
  color: #3f4247;
}

.about-me-info {
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 505px;
  margin: 30px 0 80px 0;
}

.second-line {
  top: 400px;
}

.about-me-double-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.double-info-left {
  width: 49.5%;
  padding: 0 20px;
}

.double-info-title {
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

}

.double-info-title-colored {
  font-family: 'DM Serif Display';
  font-weight: 400;
  font-size: 26px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #fef223;
}

.double-info-list {
  margin-top: 30px;
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 50px;

  li:nth-child(1) {
    margin-top: 25px;
  }
}

.third-line {
  top: 475px;
}

.fourth-line {
  top: 896px;
}

.double-info-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.double-numbers {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border: 1px solid #fef223;
  color: #FEF223;
  padding: 6px 9px;
  margin-right: 10px;
  display: block;
}

.number-1 {
  transform: rotate(15deg);
}

.number-2 {
  margin-right: 20px;
  transform: rotate(-15deg);
}

.number-3 {
  transform: rotate(-30deg);
}

.number-4 {
  margin-right: 20px;
  transform: rotate(15deg);
}

.number-5 {
  transform: rotate(30deg);
}

.number-6 {
  margin-right: 20px;
  transform: rotate(-15deg);
}

.double-info-right {
  width: 49.5%;
  padding: 0 20px;
}

.double-paragraph {
  margin-top: 30px;
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 4px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;

  span:nth-child(1) {
    padding-bottom: 5px;
  }
}

.double-colored {
  color: #fef223;
}

.center-line {
  margin-top: -12px;
  width: 2px;
  height: 500px;
  background-color: #3f4247;
}

.double-links {
  .about-founder-sticker {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

.double-links h2 {
  margin-top: 50px;
  background-color: #fef223;
  font-family: 'DM Serif Display';
  font-weight: 400;
  font-size: 55px;
  line-height: 75px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

@media (max-width: 1400px) {}

@media (max-width: 1400px) {
  .about-founder-title {
    font-size: 90px;
    line-height: 90px;
  }

  .about-founder-info {
    font-size: 32px;
    line-height: 32px;
  }
}

@media (max-width: 1250px) {
  .first-line {
    top: 164px;
  }

  .third-line {
    top: 500px;
  }

  .fourth-line {
    top: 935px;
  }

  .center-line {
    height: 535px;
  }

  .double-paragraph {
    margin-top: 60px;
  }
}

@media (max-width: 1200px) {
  .about-founder-title {
    font-size: 80px;
    line-height: 80px;
  }

  .about-founder-info {
    font-size: 28px;
    line-height: 28px;
  }

  .about-founder-sticker {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 1010px) {
  .about-founder-title {
    font-size: 70px;
    line-height: 70px;
  }

  .about-founder-info {
    font-size: 25px;
    line-height: 25px;
  }
}

@media (max-width: 899px) {
  .about-founder-title {
    font-size: 60px;
    line-height: 60px;
  }

  .about-founder-info {
    font-size: 20px;
    line-height: 20px;
  }

  .about-founder-sticker {
    width: 130px;
    height: 130px;
    font-size: 24px;
    line-height: 28px;
  }

  .double-paragraph {
    margin-top: 30px;
  }

  .double-link h2 {
    font-size: 50px;
    line-height: 70px;
  }
}

@media (max-width: 860px) {
  .about-me-double-info {
    flex-direction: column;
  }

  .double-info-left,
  .double-info-right {
    width: 100%;
  }

  .center-line {
    display: none;
  }

  .first-line {
    top: 163px;
  }

  .third-line {
    top: 885px;
  }

  .fourth-line {
    top: 1111px;
  }

  .double-paragraph {
    margin-bottom: 50px;
    text-align: end;
  }
}

@media (max-width: 800px) {
  .founder-inner {
    flex-direction: column;
    align-items: start;
  }

  .about-founder-left {
    width: 100%;
    margin: 0 auto;

    a {
      display: none;
    }
  }

  .about-founder-right {
    width: 100%;

    a {
      position: unset;
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 150px;
    }
  }

  .about-founder-img {}

  .about-founder-title {
    margin-top: 80px;
    font-size: 70px;
    line-height: 70px;
  }

  .about-founder-info {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 100px;
  }

  .about-founder-sticker {
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }

  .about-me-title {
    font-size: 120px;
    line-height: 120px;
  }

  .first-line {
    top: 110px;
  }

  .second-line {
    top: 310px;
  }

  .third-line {
    top: 795px;
  }

  .fourth-line {
    top: 1030px;
  }

  .double-link-title {
    font-size: 45px;
    line-height: 50px;
  }

  .double-links {
    .about-founder-sticker {
      width: 180px;
      height: 180px;
    }
  }
}

@media (max-width: 737px) {
  .double-info-title {
    font-size: 16px;
    line-height: 18px;
  }

  .fourth-line {
    display: none;
  }

  .double-links h2 {
    font-size: 40px;
    line-height: 44px;
  }
}

@media (max-width: 600px) {
  .line-border {
    display: none;
  }

  .about-founder-title {
    font-size: 60px;
    line-height: 60px;
  }

  .about-founder-info {
    font-size: 25px;
    line-height: 25px;
  }

  .double-info-title {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me-title {
    font-size: 90px;
    line-height: 100px;
  }

  .double-paragraph {
    text-align: start;
  }

  .double-links h2 {
    font-size: 35px;
    line-height: 50px;
  }
}

@media (max-width: 500px) {
  .about-founder-title {
    margin-top: 50px;
    font-size: 55px;
    line-height: 55px;
  }

  .about-founder-info {
    font-size: 20px;
    line-height: 20px;
  }

  .about-founder-sticker {
    width: 180px;
    height: 180px;
  }

  .about-me-title {
    font-size: 78px;
    line-height: 90px;
  }

  .about-founder-right {
    a {
      width: 120px;
      height: 120px;
    }
  }

  .double-links h2 {
    font-size: 26px;
    line-height: 30px;
  }
}

@media (max-width: 400px) {
  .about-founder-title {
    font-size: 45px;
    line-height: 45px;
  }

  .about-founder-info {
    font-size: 16px;
    line-height: 16px;
  }

  .about-founder-sticker {}

  .about-me-title {
    font-size: 62px;
    line-height: 80px;
  }

  .about-me-info {
    font-size: 16px;
  }

  .double-info-title {
    font-size: 16px;

    span {
      font-size: 20px;
    }
  }

  .double-paragraph,
  .double-info-list {
    font-size: 16px;
  }

  .double-info-left,
  .double-info-right {
    padding: 0px 0px;
  }
}

@media (max-width: 320px) {
  .about-me-title {
    font-size: 40px;
    line-height: 40px;
  }

  .double-links h2 {
    font-size: 20px;
    line-height: 30px;
  }
}